<app-menu></app-menu>

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="/change-password.component.css">
  
  </head>
  <body class="img js-fullheight vh-100">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Introduce Tu Nueva Contraseña</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <h3 class="mb-4 text-center">Ingresa Usuario O Email</h3>
            <form class="signin-form" #f="ngForm" (ngSubmit)="onChangePassword()" novalidate>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" class="form-control"  placeholder="Contraseña" [(ngModel)]="password" required>

              </div>
              <div class="form-group">
                <label for="confirmPassword">confirmar contraseña</label>
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirmar Contraseña"
                    [(ngModel)]="confirmPassword" required>

              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3" [disabled]="!f.valid">Cambiar Contraseña</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  
  </body>


<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            <h3>Introduce tu Nueva Contraseña</h3>
        </div>
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onChangePassword()" novalidate>
                <div class="form-group text-center">
                    <label for="password">contraseña</label>
                    <input type="password" name="password" id="password" class="form-control"
                        [(ngModel)]="password" required>
                </div>

                <div class="form-group text-center">
                    <label for="confirmPassword">confirmar contraseña</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                        [(ngModel)]="confirmPassword" required>
                </div>
               
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block" [disabled]="!f.valid" type="submit">
                        <i class="fas fa-sign-in-alt"></i> Cambiar Contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>
