<app-menu></app-menu>
<!--<div *ngIf="cliente">-->
  <head>
    <title>Listado de Clientes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="/migracion.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  </head>
<body class="img js-fullheight vh-100">
  <h1 class="text-center">PANEL DE MIGRACIÓN</h1>
  <section class="ftco-section">
<h2>Teléfono: {{telefono.numero}} -- Nombre Cliente: {{telefono.cliente.nombre}}</h2>


<div class="row">
  <div class="col-sm-3" *ngFor="let plan of planesPos">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{plan.nombrePlan}}</h5>
        <p class="card-text">Costo Mensual: S/. {{plan.costoMensual}}</p>
        <a href="#" class="btn btn-primary" (click)="seleccionarPlan(plan, $event)">SELECCIONAR</a>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-2">
      <h6>Seleccionar detalle del plan</h6>
      <div *ngFor="let detalle of detallesPlan">
        <div class="custom-control custom-radio">
          <input type="radio" id="{{detalle}}" name="detallePlan" class="custom-control-input" (click)="seleccionarDetallePlan(detalle)">
          <label class="custom-control-label" for="{{detalle}}">{{detalle}}</label>
        </div>
      </div>
    </div>
		<div class="col">
            <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="txtDetalle">Detalle del plan</label>
                      <textarea name="" id="txtDetalle" cols="30" rows="10" class="form-control">
                 
                        {{ planSeleccionado?.planId }} - {{ planSeleccionado?.nombrePlan }}
                      </textarea>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="nombre">Nombre Usuario del Asesor</label>
                      <input type="text" *ngIf="nombreUsuario" class="form-control" value="{{nombreUsuario}}" readonly>
                    </div>

                    <div class="form-group" hidden>
                      <label for="userId">ID del Asesor</label>
                      <input type="text" *ngIf="userId" class="form-control" value="{{userId}}">
                    </div>

                    <div class="form-group">
                      <label for="fecha">Fecha</label>
                      <input type="date" class="form-control" id="fecha" [(ngModel)]="fecha2" required>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="numero">Número de Línea</label>
                      <input type="text" class="form-control" id="numero" [(ngModel)]="telefono.numero" required>
                    </div>
                    
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="ejecutarExe()"> <i class="fa-solid fa-phone"></i> LLAMAR</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
	</div>
</div>
<hr>
<div class="row justify-content-between">
    <div class="col-4">
      
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-success" (click)="onCreate()">GENERAR</button>
    </div>
</div>
</section>
</body>
<!--</div>-->
