<app-menu></app-menu>
<head>
    <title>Listado de Clientes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="/detalle-cliente.component.css">
  
  </head>
  <body class="img js-fullheight vh-100">
  <section class="ftco-section">
<div class="container">
    <div class="row mt-5" *ngIf="cliente" >
      <div class="col-md-4 mx-auto ">
          <div class="card text-bg-dark mb-3" style="width: 18rem;">
              <div class="card-header text-center">
                Detalle
              </div>
              <ul class="list-group list-group-flush " >
                <li class="list-group-item text-bg-dark mb-3"><b>ID: </b>{{cliente.clienteId}}</li>
                <li class="list-group-item text-bg-dark mb-3"><b>DNI: </b>{{cliente.dni}}</li>
                <li class="list-group-item text-bg-dark mb-3"><b>Nombre: </b>{{cliente.nombre}}</li>
                <li class="list-group-item text-bg-dark mb-3"><b>Apellido: </b>{{cliente.apellido}}</li>
                <li class="list-group-item text-bg-dark mb-3"><b>Dirección: </b>{{cliente.direccion}}</li>
                <!--<li class="list-group-item text-bg-dark mb-3"><b>Teléfono: </b>{{cliente.telefono}}</li>
                <li class="list-group-item text-bg-dark mb-3"><b>Plan PostPago: </b>{{cliente.planPostpago.nombrePlan}}</li>
                <li class="list-group-item text-bg-dark mb-3"><b>Tipo Cliente: </b>{{cliente.tipoCliente.nombre}}</li>-->
              </ul>
              <div class="card-footer">
                  <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
              </div>
            </div>
            
      </div>
  </div>
  </div>
  </section>
  </body>
